{% load static %}
<style>
  /* static/css/style.css */
.footer-menu {
    width: 100%;
}

.menu-list {
    flex-wrap: wrap;
    margin-bottom: 0; /* Removes default ul margin */
}

.menu-list li {
    margin-right: 0; /* Removes extra margin */
}

.menu-right {
    text-align: right;
}

/* For responsiveness */
@media (max-width: 768px) {
    .footer-menu {
        flex-direction: column;
        text-align: center;
    }
    
    .menu-list {
        flex-direction: column;
    }
    
    .menu-right {
        text-align: center;
        margin-top: 1rem;
    }
}
</style>
<footer id="footer" class="py-5 border-top">
    <div class="container-lg">
        <div class="row align-items-center">
            <div class="col-lg-12 pb-3">
                <div class="footer-menu d-flex justify-content-between align-items-center">
                    <div class="menu-left">
                        <h5 class="widget-title pb-2">Info</h5>
            
                        <ul class="menu-list list-unstyled d-flex">
                            <li class="px-2">
                                <a href="#">Track Your Order</a>
                            </li>
                            <li class="px-2">
                                <a href="#">Shipping</a>
                            </li>
                            <li class="px-2">
                                <a href="#">Contact Us</a>
                            </li>
                            <li class="px-2">
                                <a href="#">Help</a>
                            </li>
                            <li class="px-2">
                                <a href="#">Community</a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-right">
                        <p class="mb-0">All Rights Reserved © {% now "Y" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>